.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.DS_Store
data/

raster_preparation.zip

# Specific file types
*.tif
*.xml
*.zip

# Directory to ignore
env_data/

__MACOSX/

rasters_files/
imbalanced_data/
imbalanced_data_files/
imbalanced_data_part1_files/
